<%- include('../../partials/head' , { title: 'Experiences' }) %>
    <%- include('../../partials/sidebar') %>
        <%- include('../../partials/header') %>

            <main class="content">
                <div class="container-fluid p-0">

                    <div class="row align-items-center mb-3">
                        <div class="col-6">
                            <div class="h2">
                                Experiences
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <a class="btn btn-success" href="/admin/experience/add">
                                +Add
                            </a>
                        </div>
                    </div>

                    <div class="row educations">
                        <% experiences.forEach((experience) => { %>
                          <div class="col-12 col-md-6 col-lg-4 experience-<%= experience.id %>">
                            <div class="card mb-4">
                              <div class="card-body">
                                <h5 class="card-title"><%= experience.company %></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= experience.location %> in <%= experience.fieldOfStudy %></h6>
                                <p class="card-text"><%= experience.startDate.toLocaleString('default', { month: 'long', year: 'numeric' }) %> - <%= experience.endDate.toLocaleString('default', { month: 'long', year: 'numeric' }) %></p>
                                <% if (experience.description) { %>
                                  <p class="card-text"><%= experience.description %></p>
                                <% } %>
                                <div class="d-flex justify-content-end">
                                  <a href="/admin/experience/edit/<%= experience.id %>" class="btn btn-sm btn-outline-secondary me-2 edit-experience">Edit</a>
                                  <a href="javascript:;" data-href="/admin/experience/delete/<%= experience.id %>" class="btn btn-sm btn-outline-danger delete-experience" data-id="<%= experience.id %>">Delete</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% }) %>
                      </div>
                      
                </div>
            </main>

<%- include('../../partials/footer') %>