<%- include('../../partials/head' , { title: 'Educations' }) %>
    <%- include('../../partials/sidebar') %>
        <%- include('../../partials/header') %>

            <main class="content">
                <div class="container-fluid p-0">

                    <div class="row align-items-center mb-3">
                        <div class="col-6">
                            <div class="h2">
                                Add Education
                            </div>
                        </div>
                    </div>
                    <form action="/admin/education/update" method="POST">

                        <input type="hidden" name="id" value="<%= education.id %>">

                        <div class="mb-3">
                          <label for="school" class="form-label">School:</label>
                          <input type="text" id="school" name="school" class="form-control" required value="<%= education.school %>">
                        </div>
                
                        <div class="mb-3">
                          <label for="degree" class="form-label">Degree:</label>
                          <input type="text" id="degree" name="degree" class="form-control" required value="<%= education.degree %>">
                        </div>
                
                        <div class="mb-3">
                          <label for="fieldOfStudy" class="form-label">Field of Study:</label>
                          <input type="text" id="fieldOfStudy" name="fieldOfStudy" class="form-control" required value="<%= education.fieldOfStudy %>">
                        </div>
                
                        <div class="mb-3">
                            <label for="startDate" class="form-label">Start Date:</label>
                            <% const startDate = new Date(education.startDate); %>
                            <% const startDateString = startDate.toISOString().substr(0, 10); %>
                            <input type="date" id="startDate" name="startDate" class="form-control" required value="<%= startDateString %>">
                        </div>
                          
                        <div class="mb-3">
                            <label for="startDate" class="form-label">End Date:</label>
                            <% const endDate = new Date(education.endDate); %>
                            <% const endDateString = endDate.toISOString().substr(0, 10); %>
                            <input type="date" id="endDate" name="endDate" class="form-control" required value="<%= endDateString %>">
                        </div>

                        <div class="mb-3">
                          <label for="description" class="form-label">Description:</label>
                          <textarea id="description" name="description" rows="20" class="form-control"><%= education.description %></textarea>
                        </div>
                
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Update Education</button>
                        </div>
                       
                      </form>
                      
                </div>
            </main>

<%- include('../../partials/footer') %>