<%- include('../../partials/head' , { title: 'Edit Profile' }) %>
    <%- include('../../partials/sidebar') %>
        <%- include('../../partials/header') %>

            <main class="content">
                <div class="container-fluid p-0">

                    <div class="row align-items-center mb-3">
                        <div class="col-6">
                            <div class="h2">
                                Edit Profile
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-lg-3 col-md-3">
                        <div class="mt-4">

                          <div class="mb-3 preview-image-box d-none">
                            <p class="text-center text-danger">Image Preview (Not uploaded yet)</p>
                            <img class="preview-image" style="width: 100%;" src="" alt="">
                          </div>

                          <div>
                            <img class="user-image" style="width: 100%;" src="/user/<%= user.image %>" alt="">
                          </div>
                           

                       
                        </div>
                      </div>
                        <div class="col-12 col-lg-9 col-md-9">
                          <form action="/admin/profile/save" method="POST" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label for="school" class="form-label">Profile Image:</label>
                                <input type="file" id="image-input" name="image" class="form-control">
                              </div>
    
                            <div class="mb-3">
                              <label for="school" class="form-label">Name:</label>
                              <input type="text" id="name" name="name" class="form-control" required value="<%= user.name %>">
                            </div>
                    
                            <div class="mb-3">
                              <label for="degree" class="form-label">Email:</label>
                              <input type="text" id="email" name="email" class="form-control" required value="<%= user.email %>">
                            </div>
                    
                            <div class="mb-3">
                              <label for="fieldOfStudy" class="form-label">Phone:</label>
                              <input type="text" id="phone" name="phone" class="form-control" value="<%= user.phone %>">
                            </div>
    
                            <div class="mb-3">
                                <label for="fieldOfStudy" class="form-label">Linkedin:</label>
                                <input type="text" id="phone" name="linkedin" class="form-control" value="<%= user.linkedin %>">
                              </div>
    
                              <div class="mb-3">
                                <label for="fieldOfStudy" class="form-label">Instagram:</label>
                                <input type="text" id="phone" name="instagram" class="form-control" value="<%= user.instagram %>">
                              </div>
    
                              <div class="mb-3">
                                <label for="fieldOfStudy" class="form-label">Github:</label>
                                <input type="text" id="phone" name="github" class="form-control" value="<%= user.github %>">
                              </div>
    
                              <div class="mb-3">
                                <label for="fieldOfStudy" class="form-label">Website:</label>
                                <input type="text" id="phone" name="website" class="form-control" value="<%= user.website %>">
                              </div>
    
                              <div class="mb-3">
                                <label for="fieldOfStudy" class="form-label">Degree:</label>
                                <input type="text" id="phone" name="degree" class="form-control" value="<%= user.degree %>">
                              </div>
    
                              <div class="mb-3">
                                <label for="startDate" class="form-label">Birthday:</label>
                                <% const birthDate = new Date(user.birthday); %>
                                <% const birthDateString = birthDate.toISOString().substr(0, 10); %>
                                <input type="date" id="startDate" name="birthday" class="form-control" value="<%= birthDateString %>">
                              </div>
    
                              <div class="mb-3">
                                <label for="fieldOfStudy" class="form-label">Address:</label>
                                <textarea class="form-control" name="address" id="" cols="30" rows="5"><%= user.address %></textarea>
                              </div>
    
                              <div class="mb-3">
                                <label for="fieldOfStudy" class="form-label">About:</label>
                                <textarea class="form-control" name="about" id="" cols="30" rows="10"><%= user.about %></textarea>
                              </div>
                    
                              <div class="mt-3 text-end">
                                <button type="submit" class="btn btn-primary">Update</button>
                              </div>
                            
                          </form>
                        </div>


                    </div>
                
                      
                </div>
            </main>

<%- include('../../partials/footer') %>