<%- include('../partials/head' , { title: 'Projects' }) %>

<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title"><%= project.title %></h2>

            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <% project.project_files.forEach((file) => { %>
                <div class="swiper-slide">
                  <img style="object-fit: contain !important; width: 100% !important;" src="/<%= file.file %>" alt="">
                </div>
                <% }) %>

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li style="text-transform: capitalize;"><strong>Category:</strong> <%= project.project_categories.map(c => c.category.name).join(', ') %></li>
              <li><strong>Client</strong>: <%= project.client %></li>
              <li><strong>Project date</strong>: <%= project.date.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %>
              </li>
              <li><strong>Project URL</strong>: <a target="_blank" href="http://<%= project.url %>"><%= project.url %></a></li>
            </ul>

            <p><%= project.description %></p>
          </div>

        </div>

      </div>
    </div><!-- End Portfolio Details -->

  </main><!-- End #main -->

<%- include('../partials/footer') %>