<%- include('../../partials/head' , { title: 'Edit Project' }) %>
    <%- include('../../partials/sidebar') %>
        <%- include('../../partials/header') %>

            <main class="content">
                <div class="container-fluid p-0">

                    <div class="row align-items-center mb-3">
                        <div class="col-6">
                            <div class="h2">
                                Edit Project
                            </div>
                        </div>
                    </div>
                    <form action="/admin/project/update" method="POST" enctype="multipart/form-data">

                        <input type="hidden" name="id" value="<%= project.id %>">

                        <div class="mb-3">
                            <label for="image" class="form-label">Image:</label>
                            <input type="file" id="image" name="image" class="form-control" >
                        </div>

                        <div class="mb-3">
                            <label for="title" class="form-label">Title:</label>
                            <input type="text" id="title" name="title" class="form-control" required value="<%= project.id %>">
                        </div>

                        <div class="mb-3">
                            <label for="client" class="form-label">Client:</label>
                            <input type="text" id="client" name="client" class="form-control" required value="<%= project.client %>">
                        </div>

                        <div class="mb-3">
                            <label for="url" class="form-label">URL:</label>
                            <input type="text" id="url" name="url" class="form-control" required value="<%= project.url %>">
                        </div>

                        <div class="mb-3">
                            <label for="date" class="form-label">Date:</label>
                            <% const projectDate = new Date(project.date); %>
                            <% const dateString = projectDate.toISOString().substr(0, 10); %>
                            <input type="date" id="date" name="date" class="form-control" required value="<%= dateString %>">
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <textarea rows="20" id="description" name="description" class="form-control"><%= project.description %></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Images:</label>
                            <input class="form-control" type="file" multiple name="files[]">
                        </div>

                        <button type="submit" class="btn btn-primary">Update project</button>

                    </form>

                    
                    <div class="mt-3">
                        <% if (project.project_files && project.project_files.length > 0) { %>
                          <div class="row row-cols-1 row-cols-md-4 g-4">
                            <% project.project_files.forEach((projectFile) => { %>
                              <div class="col project-file-<%= projectFile.id %>">
                                <div class="card h-100">
                                  <img src="/<%= projectFile.file %>" alt="" class="card-img-top">
                                  <div class="card-body">
                                    <h5 class="card-title"><%= projectFile.name %></h5>
                                    <p class="card-text"><%= projectFile.description %></p>
                                    <button data-id="<%= projectFile.id %>" class="btn btn-danger delete-file" data-file="<%= projectFile._id %>">X</button>
                                  </div>
                                </div>
                              </div>
                            <% }) %>
                          </div>
                        <% } else { %>
                          <p>No project files found.</p>
                        <% } %>
                      </div>
                      
                    

                </div>
            </main>

            <%- include('../../partials/footer') %>